@charset "utf-8"

@import "normalize"

$visual-grid: true
$visual-grid-color: yellow
$visual-grid-index: front
$visual-grid-opacity: 0.2

@import "bourbon/bourbon"
@import "base/grid-settings"
@import "neat/neat"
@import "base/base"

@import "_partials/footer"

#wrap
  @include outer-container

body
  background: #d4d4d4 url("../images/background.png")
